{%  extends 'project/layout/base.html' %}

{% block title %}
Şifre Oluştur
{% endblock %}

{% block top %}
  <div class="jumbotron">
    <div class="container">

      <h1 class="display-3">Şifre Oluşturma!</h1>
            <p>Şifrenizi aşağıdaki form ile oluşturabilirsiniz. </p>
    </div>
  </div>
{% endblock %}

{%  block content %}
    {% if user.is_authenticated %}
        Şifre sıfırlama için çıkış yapılması gerekmektedir.
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Şifre Oluştur</button>
        </form>
    {% endif %}
{% endblock %}
