{%  extends 'learning/layout/base.html' %}

{% block title %}
Şifre Sıfırlama
{% endblock %}

{% block top %}
  <div class="jumbotron">
    <div class="container">

      <h1 class="display-3">Şifre Sıfırlama!</h1>
            <p>Şifre sıfırlama emaili gönderildi. </p>
    </div>
  </div>
{% endblock %}

{%  block content %}
    Email adresinize şifrenizi sıfırlamak için gerekli olan talimatlar gönderilmiştir.
    <br><br>
    Eğer sıfırlama maili gelmezse kayıt olduğunuz mail adresini doğru girdiğinizden emin olun ve
    spam klasörünü kontrol edin.
{% endblock %}
