{%  extends 'learning/layout/base.html' %}

{% block title %}
Ürün Listeleme Sayfası
{% endblock %}

{% block top %}
  <div class="jumbotron">
    <div class="container">

      <h1 class="display-3">Ürün Arşivi!</h1>
      <p>
          Bu sayfa {{ year }} / {{ month }} için ürün arşiv sayfasıdır.
      </p>

        <p><a class="btn btn-primary btn-lg" href="{% url 'product-list'%}" role="button">ÜRÜN LİSTESİ &raquo;</a></p>

    </div>
  </div>

{% endblock %}

{%  block content %}
{%  if products %}
    <table>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'product-detail' product.id %}">Ürün Adı : {{ product.name | upper }}</a></td>
            <td>Ürün Açıklaması : {{ product.content }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    Ürün bulunamadı
{% endif %}


{% endblock %}
