{%  extends 'project/layout/base.html' %}

{% block top %}

    <div class="jumbotron">
        <h4>
            Shop
        </h4>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{%  block content %}
    <div class="card-deck">
        {% for product in shop_list %}
              <div class="card" style="max-width: 300px">
                {% if product.cover %}
                  <img src="{{ product.cover.url }}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'project:detail-shop' product.pk %}">{{ product.name }} | {{ product.brand }}</a></h5>
                  <p class="card-text">{{ product.content }}
                      <br>
                      <a href="#" class="btn btn-primary">Sepete Ekle</a>
                  </p>
                  <p class="card-text"><small class="text-muted">{{ product.price }} TL | Stok : {{ product.stock_count }}</small></p>
                </div>
              </div>
            {% if forloop.counter|divisibleby:"3" %}
                </div><br><div class="card-deck">
            {% endif %}
      {% endfor %}
    </div>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Önceki</a>
                {% endif %}
                <span class="page-current">
                    Toplam  {{ page_obj.paginator.num_pages }} sayfadan {{ page_obj.number }} sayfa.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Sonraki</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}