{%  extends 'project/layout/base.html' %}

{% block top %}
    <div class="jumbotron">
        <h4>
            <a href="{% url 'project:distributor-list-order' %}">Sipariş Listesi</a>
        </h4>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{%  block content %}
    <form method="get" action="">
        <div class="row">
            <div class="col p-1">
                <select class="form-control" name="dealer">
                    <option label="Bayi ..."></option>
                    {% for dealer in dealers %}
                        <option value="{{ dealer.id }}" {% if dealer.id == filter_dealer %}selected{% endif %}>{{ dealer.name }}</option>
                    {%  endfor %}
                </select>
            </div>
            <div class="col p-1">
                <select class="form-control" name="status">
                    <option label="Sipariş Durumu ..."></option>
                    <option value="1" {% if '1' == filter_status %}selected{% endif %}>Hazırlanıyor</option>
                    <option value="2" {% if '2' == filter_status %}selected{% endif %}>Tamamlandı</option>
                </select>
            </div>
            <div class="col p-1">
                <input class="btn btn-success" type="submit" value="Filtrele">
            </div>
        </div>

    </form>
    <br><br>

    {% if order_list %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sipariş ID</th>
          <th scope="col">Distribütör</th>
          <th scope="col">Sipariş Tarihi</th>
          <th scope="col">Sipariş Durumu</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>SIP-{{ order.id }}</td>
                <td>{{ order.distributor }}</td>
                <td>{{ order.created }}</td>
                <td>
                    {% if order.order_transfered %}Tamamlandı{% else %}Hazırlanıyor{% endif %}
                </td>
            <td>
                {% if not order.order_transfered %}
                    <a href="{% url 'project:distributor-cancel-order' order.id %}" class="btn btn-danger">Siparişi İptal Et</a>
                    <a href="{% url 'project:distributor-approve-order' order.id %}" class="btn btn-danger">Siparişi Onayla</a>
                {% endif %}
                <a href="{% url 'project:distributor-detail-order' order.id %}" class="btn btn-primary">Detay</a>
            </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
        <br><br>

    {% else %}
        Henüz alınan sipariş bulunamadı.
    {% endif %}



{% endblock %}