{%  extends 'project/layout/base.html' %}

{% block top %}
    <div class="jumbotron">
        <h4>
            <a href="{% url 'project:list-payment' %}">Ödeme</a> -> Ödeme İptali : {{ request.session.role_name }}
        </h4>
    </div>
{% endblock %}

{%  block content %}
     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         <input type="hidden" name="payment_accepted" value='R'>
        Ödemeyi reddetmek istediğinize emin misiniz ?
        <input type="submit" value="Ödemeyi Reddet" />
     </form>
{% endblock %}

