{%  extends 'project/layout/base.html' %}
{% load tags %}
{% block top %}
    <div class="jumbotron">
        <h4>
            <a href="{% url 'project:distributor-list-payment' %}">Ödeme</a> -> Borç / Alacak Listesi : {{ request.session.role_name }}
        </h4>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{%  block content %}


    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bayi Adı</th>
          <th scope="col">Toplam Sipariş Tutarı (TL)</th>
          <th scope="col">Toplam Ödeme Tutarı (TL)</th>
          <th scope="col">Bakiye Tutarı (TL)</th>
        </tr>
      </thead>
      <tbody>
        {% for dealer in dealer_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'project:distributor-detail-payment' dealer.id %}">{{ dealer.name }}</a></td>
                <td>{{ dealer.total_order_amount }}</td>
                <td>{{ dealer.total_payment_amount}}</td>
                <td>{{ dealer.total_payment_amount|subtract:dealer.total_order_amount}}</td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}