{%  extends 'project/layout/base.html' %}
{% load tags %}
{% block top %}
    <div class="jumbotron">
        <h4>
            <a href="{% url 'project:distributor-list-payment' %}">Ödeme</a> -> Ödeme Detayı : {{ dealer.name }}
        </h4>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{%  block content %}

    <div style="margin-bottom: 15px;text-align: right">
        <a href="{% url 'project:distributor-list-detail-payment' %}" class="btn btn-primary">Borç / Alacak Listesi</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ADET</th>
          <th scope="col">TUTAR TL</th>
        </tr>
      </thead>
      <tbody>
            <tr>
                <th scope="row">TOPLAM SİPARİŞ</th>
                <td>{{ dealer.total_order_count }}</td>
                <td>{{ dealer.total_order_amount }}</td>
            </tr>
            <tr>
                <th scope="row">TOPLAM ÖDEME</th>
                <td>{{ dealer.total_payment_count }}</td>
                <td>{{ dealer.total_payment_amount }}</td>
            </tr>
            <tr>
                <th scope="row">BAKİYE</th>
                <td>-</td>
                <td>{{  dealer.total_payment_amount|subtract:dealer.total_order_amount }}</td>
            </tr>
                  <tr>
                <th scope="row">ONAYLANMAMIŞ ÖDEME</th>
                <td>{{  dealer.waiting_payment_count }}</td>
                <td>{{  dealer.waiting_payment_amount }}</td>
            </tr>
            <tr>
                <th scope="row">ONAYLANMAMIŞ SİPARİŞ</th>
                <td>{{  dealer.waiting_order_count }}</td>
                <td>{{  dealer.waiting_order_amount }}</td>
            </tr>


      </tbody>
    </table>
{% endblock %}