{%  extends 'project/layout/base.html' %}

{% block top %}
    <div class="jumbotron">
        <h4>
            <a href="{% url 'project:list-payment' %}">Ödeme</a> -> Ödeme Listesi : {{ request.session.role_name }}
        </h4>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{%  block content %}
        <form method="get" action="">
        <div class="row">
            <div class="col p-1">
                <select class="form-control" name="distributor">
                    <option label="Distribütör ..."></option>
                    {% for distributor in distributors %}
                        <option value="{{ distributor.id }}" {% if distributor.id == filter_distributor %}selected{% endif %}>{{ distributor.name }}</option>
                    {%  endfor %}
                </select>
            </div>
            <div class="col p-1">
                <select class="form-control" name="status">
                    <option label="Sipariş Durumu ..."></option>
                </select>
            </div>
            <div class="col p-1">
                <input class="btn btn-success" type="submit" value="Filtrele">
            </div>
        </div>

    </form>
    <br><br>

    <div style="margin-bottom: 15px;text-align: right">
        <a href="{% url 'project:create-payment' %}" class="btn btn-primary">Ödeme Ekle</a>
        <a href="{% url 'project:list-detail-payment' %}" class="btn btn-primary">Borç / Alacak Listesi</a>

    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Distribütör Adı</th>
          <th scope="col">Ödeme Tutarı</th>
          <th scope="col">Ödeme Durumu</th>
          <th scope="col">Ödeme Tarihi</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payment_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td> <a href="{% url 'project:detail-payment' payment.distributor.id %}">{{ payment.distributor }}</a></td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.payment_accepted }}</td>
                <td>{{ payment.created }}</td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}